/*
  Color Theme:
  Backgrounds: #FFFFFF,
  Titles: #333333
  Subtext: #4E5D78
  Secondary: #0070f3;
*/

.container {
	min-height: 100vh;
}

.navbar {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #eaeaea;
}

.navbar .navLink {
	margin-right: 18px;
	font-size: 12pt;
	font-weight: 100;
	color: #4e5d78;
}

.navbar img {
	margin-left: 10%;
	width: 115px;
}

.heroSection {
	text-align: center;
	padding: 2.4rem 0rem;
}

.heroSection h1 {
	font-size: 32pt;
	font-weight: 300;
	color: #333333;
}

.heroSection h2 {
	font-size: 16pt;
	font-weight: 200;
	color: #4e5d78;
}

.heroLeft {
	padding: 10px 0;
	margin: 0;
}

.heroRight {
	vertical-align: middle;
	text-align: center;
	padding-right: 10px;
}

.heroRight img {
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(50%);
	border-radius: 10px;
	box-shadow: 0 16px 24px -2px rgba(0, 0, 0, 0.13);
}

.heroButtons {
	margin-top: 50px;
	padding: 0 10px;
	text-align: center;
}

.heroButtons div a {
	margin: 5px;
}

.aboutSection {
	text-align: center;
	margin-top: 30px;
	border-top: 1px solid #eaeaea;
	text-align: left;
	padding: 1.4rem 1.2rem;
}

.aboutSection h1 {
	text-align: center;
	font-size: 28pt;
	font-weight: 300;
	color: #333333;
	margin-bottom: 5px;
}

.aboutSection p {
	text-align: center;
	font-size: 11pt;
	font-weight: 200;
	color: #4e5d78;
	padding: 0 5%;
}

.aboutSection .aboutFeatures div {
	margin: 0 auto;
}

.aboutSection .aboutFeatures div div {
	margin-top: 10px;
}

.aboutFeatures h1 {
	padding-left: 5px;
}

.aboutFeatures p {
	text-align: left;
	padding-left: 5px;
	font-size: 12pt;
}

.footer {
	width: 100%;
	height: 100px;
	padding-top: 40px;
	border-top: 1px solid #eaeaea;
	position: absolute;
	bottom: 0px;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hightlight {
	margin-left: 8px;
	color: #0070f3;
}

@media (max-width: 600px) {
	.footer {
		display: none;
	}
	.navbar div {
		width: 100%;
		text-align: center;
	}
	.navbar a {
		display: none;
	}
	.navbar img {
		margin: 0 auto;
	}
}

@media (min-width: 1296px) {
	.container {
		margin: 0 15%;
	}
}
